@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.gradient-text {
	background: linear-gradient(to right, #ffffff, #dac8ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.bg-even-row {
	background-color: #f7f6fe;
}

.react-flow__handle {
	display: none;
}

.tooltip {
	transition: opacity 0.3s ease;
	opacity: 0;
}

.tooltip-visible {
	opacity: 1;
}

.react-flow__edge-path.highlited {
	animation: dash 1s linear infinite;
}

@keyframes dash {
	to {
		stroke-dashoffset: -20;
	}
}

.custom-prev,
.custom-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}

.custom-prev {
	left: 10px;
}

.custom-next {
	right: 10px;
}

.custom-pagination {
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	z-index: 10;
	gap: 15px;
	width: 50px;
}

.swiper-pagination-bullet {
	position: relative;
	width: 20px !important;
	height: 10px !important;
	background-color: white !important;
	border-radius: 2px !important;
	opacity: 0.7;
	transition:
		opacity 0.3s,
		background-color 0.3s;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: #000;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	/* background-color: red; */
	position: relative;
	width: min-content !important;
}
