@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.gradient-text {
	background: linear-gradient(to right, #ffffff, #dac8ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.bg-even-row {
	background-color: #f7f6fe;
}

.react-flow__handle {
	display: none;
}

.tooltip {
	transition: opacity 0.3s ease;
	opacity: 0;
}

.tooltip-visible {
	opacity: 1;
}

.react-flow__edge-path.highlited {
	animation: dash 1s linear infinite;
}

@keyframes dash {
	to {
		stroke-dashoffset: -20;
	}
}
